<div id={{id}} local-class="machine" class="randomizeMachine" style="overflow: hidden;">
	<div><img local-class="slot-img" src="images/jQuery-SlotMachine/slot1.png"></div>
	<div><img local-class="slot-img" src="images/jQuery-SlotMachine/slot2.png"></div>
	<div><img local-class="slot-img" src="images/jQuery-SlotMachine/slot3.png"></div>
	<div><img local-class="slot-img" src="images/jQuery-SlotMachine/slot4.png"></div>
	<div><img local-class="slot-img" src="images/jQuery-SlotMachine/slot5.png"></div>
	<div><img local-class="slot-img" src="images/jQuery-SlotMachine/slot6.png"></div>
</div>