<div local-class="slot-box" class="layout-column layout-align-space-around">
  <div local-class="slot-row-1 slot-row" class="flex layout-row layout-align-space-around">
    <div local-class="slot-item-1-1 slot-item" class="flex"></div>
    <div local-class="slot-item-1-2 slot-item" class="flex"></div>
    <div local-class="slot-item-1-3 slot-item" class="flex"></div>
  </div>
  <div local-class="slot-row-2 slot-row" class="flex layout-row layout-align-space-around">
    <div local-class="slot-item-2-1 slot-item" class="flex"></div>
    <div local-class="slot-item-2-2 slot-item" class="flex"></div>
    <div local-class="slot-item-2-3 slot-item" class="flex"></div>
  </div>
  <div local-class="slot-row-3 slot-row" class="flex layout-row layout-align-space-around">
    <div local-class="slot-item-3-1 slot-item" class="flex"></div>
    <div local-class="slot-item-3-2 slot-item" class="flex"></div>
    <div local-class="slot-item-3-3 slot-item" class="flex"></div>
  </div>
</div>